<div class="col-md-12">
	<!--<div class="form-group has-feedback col-md-5">
	  <label class="control-label" for="inputSuccess2"></label>
	  <input type="text" class="form-control" placeholder="Buscar paciente/expediente/caso" id="inputSuccess2" omnisearch>
	  <span class="glyphicon glyphicon-search form-control-feedback"></span>
		<div class="col-md-6">
	Lorem IMPSUM
</div>
<div class="col-md-6">
	Lorem IMPSUM
</div>	
	</div>

	<div class="col-md-7">
	
	<div id="indexChart"></div>
	<div id="indexSecondChart"></div>
	</div>-->
	<div class="row" style="margin-top:20px;">
		<div class="col-md-4">
			<div id="agendaPacientes">
			<div class=" subtitle-home bg-primary">Pacientes Activos</div>
				<table class="table table-striped ">
					<tbody>
						<tr><td>PACIENTE</td></tr>
						<tr><td>PACIENTE</td></tr>
						<tr><td>PACIENTE</td></tr>
						<tr><td>PACIENTE</td></tr>
						<tr><td>PACIENTE</td></tr>
						<tr><td>PACIENTE</td></tr>
						<tr><td>PACIENTE</td></tr>
						<tr><td>PACIENTE</td></tr>
						</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-8">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			      <img width="100%" src="css/images/wall.jpg"/>
			      <div class="carousel-caption">
			        ...
			      </div>
			    </div>
			    <div class="item">
			     <img width="100%" src="css/images/wall.jpg"/>
			      <div class="carousel-caption">
			        ...
			      </div>
			    </div>
			    <div class="item">
			     <img width="100%" src="css/images/wall.jpg"/>
			      <div class="carousel-caption">
			        ...
			      </div>
			    </div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div>
			
		</div>
	</div>
	<div class="col-md-3 " quickchart ></div>
	<div class="col-md-3 " quickchart></div>
	<div class="col-md-3 indexSecondChart" quickchart></div>
	<div class="col-md-3 indexSecondChart" quickchart></div>
</div>


