
<div class="row">
	<h1>Evolución</h1>
	<div class="col-sm-7" ng-show="nombre">{{nombre}}</div>
	<div class="col-sm-5">
		<div class="cols-sm-10"><input type="text" pacientescomplete class="form-control" placeholder="Buscar paciente"></div>
		
		<a href="#/pacienteInfo" class="btn btn-success col-sm-2"><i class="glyphicon glyphicon-plus"></i></a>
	</div>
	
</div>
<form name="evolucionFirst" novalidate class="col-sm-12" id="evolucionFirst">
<div class="out-layer" ng-show="overlay"></div>
<div paciente  show-buttons="false" show-name="false" show-chart="true" show-vitals="false" chart="{{chartJSON}}" show-editVitals="true"></div>


	<div class="col-sm-3">		
	<div class="row"><input type="checkbox"> 1º Consulta</div>
	<div class="row"><input type="checkbox"> Paciente Sano</div>
	<div class="row"><input type="checkbox"> Acciones de linea de vida</div>
	<div class="row"><select class="col-sm-9">
		<option value="N">No presento</option>
		<option value="Y">Presento</option>
	</select> </div>

	<div class="row"><input type="checkbox" ng-model="embarazada"> Embarazada</div>
			<div class="inner-diagnostico" ng-hide="embarazada!=true">
			<div><input type="checkbox"> 1ª Vez</div>
			<div><input type="checkbox"> Aceptante PF hormonal</div>
			<div><input type="checkbox"> Aceptante PF DIU</div>
		</div>
	<div class="row"><input type="checkbox" ng-model="puerpera">Puerpera</div>
		<div class="inner-diagnostico" ng-hide="puerpera!=true">
			<div ><input type="checkbox"> 1ª Vez</div>
			<div ><input type="checkbox"> Aceptante PF hormonal</div>
			<div><input type="checkbox"> Aceptante PF DIU</div>
		</div>
	<div class="row"><input type="checkbox" ng-model="menopausia"> Menopausia</div>
		<div class="inner-diagnostico" ng-hide="menopausia!=true">
			<div><input type="checkbox"> 1ª Vez</div>
			<div><input type="checkbox"> Terapia Hormonal</div>
		</div>
	<div class="row"><input type="checkbox" ng-model="cronico"> Cronico</div>
	<div class="inner-diagnostico" ng-hide="cronico!=true">
			<div><input type="checkbox"> 1ª Vez</div>
			<div><input type="checkbox"> Terapia Hormonal</div>
		</div>
	

</div>
	<div class="col-sm-9 evolucion-right-col">
		<div class="row"><label class="col-sm-5">Padecimiento:</label><textarea ng-model="evolucion.Padecimiento" class="form-control"></textarea></div>
		<div class="row"><label class="col-sm-5">Exploracion Fisica:</label><textarea ng-model="evolucion.EF" class="form-control"></textarea></div>
		<div class="row"><label class="col-sm-12">Diagnosico:</label>
			<span class="col-sm-9"><textarea ng-model="evolucion.Diagonostico" class="form-control"></textarea></span>
			<span class="col-sm-3"><input type="text" class="form-control">
				<div type="text" class="form-control"></div>
			</span></div>
		
		<div class="row"><label class="col-sm-5">Tratamiento:</label><textarea ng-model="evolucion.Tratamiento" class="form-control"></textarea></div>
	</div>
	<span ng-class="{'btn-default':evolucionFirst.$invalid,'btn-primary':!evolucionFirst.$invalid}" class="btn  col-sm-offset-7">Continuar  <i class="glyphicon glyphicon-arrow-right"></i></span>
</form>

<div class="col-sm-6">
			
		</div>