<div class="col-sm-12">
	<div class="form-group has-feedback col-sm-5">
	  <label class="control-label" for="inputSuccess2"></label>
	  <input type="text" class="form-control" placeholder="Buscar paciente/expediente/caso" id="inputSuccess2" omnisearch>
	  <span class="glyphicon glyphicon-search form-control-feedback"></span>
		<div class="col-sm-6">
	Lorem IMPSUM
</div>
<div class="col-sm-6">
	Lorem IMPSUM
</div>	
	</div>

	<div class="col-sm-7">
	
	<div id="indexChart"></div>
	<div id="indexSecondChart"></div>
	</div>
</div>


