<div class="row">
	<h1>Pacientes</h1>
	<div class="col-sm-5">
		<input type="text" class="form-control" placeholder="Buscar paciente">

	</div>
	<a href="#/pacienteInfo" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Registrar nuevo paciente</a>
</div>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr><th>Nombre</th><th>Historial</th><th>Editar</th></tr>
	</thead>
	<tbody>
		<tr><th></th><th></th><th></th></tr>
		<tr><th></th><th></th><th></th></tr>
		<tr><th></th><th></th><th></th></tr>
		<tr><th></th><th></th><th></th></tr>
		<tr><th></th><th></th><th></th></tr>
	</tbody>	
</table>


